# Python-specific files
__pycache__/
*.py[cod]
*$py.class
*.elc
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
ENV/
env.bak/
venv.bak/

# Streamlit-specific
.streamlit/config.toml
.streamlit/secrets.toml

# IDEs and editors
.visualstudio/
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Operating System files
Thumbs.db
ehthumbs.db